/* Google Web Font : Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Default CSS */
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* Header */
header {
  /* 아래는 모바일을 위한 속성 */
  position: fixed;
  width: 100%;
}

.gnb-inner {
  /* border: 1px solid #000; */
  width: calc(100% - 40px);
  margin: auto;
  height: 60px;
  line-height: 60px;
}

.logo {
  float: left;
}

.gnb {
  float: right;
}

.menu {
  display: none;
}

.menu a {
}

.slogan {
  font-size: 16px;
  font-style: italic;
}

/* ################### Section : Home ################# */
.home-inner {
  background-color: #fff;
  height: 100%;
}

.home-inner:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  animation: overlay 1s 2s ease-in-out both;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  animation: slideUp 2s linear both;
  /* display: none; */
}
.welcome-text span {
  display: block;
  font-size: 20px;
}
.welcome-text span .fa {
  color: crimson;
}
.opacity-image {
  background: url(images/section-bg-01.jpg) no-repeat center center;
  height: 100%;
  background-size: cover;
  /* display: none; */
  opacity: 0;
  animation: opacity-image 1s 2.7s ease-in-out both;
}
.home-heading {
  /* display: none; */
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  margin-left: 250px;
  transform: translateY(-50%);
}

.home-heading span {
  display: block;
  font-size: 115px;
  color: #fff;
  font-weight: 500;
  /* border: 1px solid #000; */
  width: 0;
  overflow: hidden;
  animation: reveal 1s 3.2s ease-in-out both;
}

.home-heading span:nth-child(1) {
  animation-delay: 3s;
}
.home-heading span:nth-child(2) {
  animation-delay: 3.2s;
}
.home-heading span:nth-child(3) {
  animation-delay: 3.4s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  20% {
    opacity: 1;
    margin-top: 0;
  }
  80% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* ################### Section : about ################# */

.about-inner {
  background: #0dace3 url(images/line-drawing.png) no-repeat right bottom;
  height: 100%;
}

.about-items {
  /* border: 1px solid red; */
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}

.item {
  /* 자식요소인 img태그에 float 들어갔을 때 부모요소인 .item 태그가 높이값을 잃거나
밑에 요소가 땡겨져 들어오기 때문에 이를 막아주기 위해 overflow:hidden 사용 */
  overflow: hidden;
  margin-bottom: 30px;
}

.item:hover h3 {
  color: #000;
  letter-spacing: 2px;
}

.item:hover img {
  filter: invert(0);
}

.item img {
  height: 100px;
  float: left;
  margin-right: 20px;
  filter: invert();
  transition: 0.5s;
}

.item h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
  letter-spacing: -1px;
}

.item span {
}

.item p {
  /* 위에서 float:left를 줬기 때문에 이미지 크기를 넘어가면 글씨가 이미지 밑으로 들어감.about-awards이를 막아주기 위해 overflow:hidden 사용 */
  overflow: hidden;
  font-size: 18px;
}

/* ################### Section : Project ################# */

* {
  box-sizing: border-box;
}
.project-inner {
  height: 100%;
  /* border: 1px solid #000; */
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
}
.tabs {
  /* border: 5px solid red; */
  height: 100%;
  width: 300%;
  transition: 0.5s;
}
.tab {
  height: 100%;
  /* border: 5px solid yellow; */
  float: left;
  width: 33.3333%;
}
.tab > div {
  /* border: 5px solid blue; */
  height: 100%;
  float: left;
}
.project-info {
  width: 25%;
}
.project-photo {
  width: 75%;
  overflow: hidden;
}
input[name="tabmenu"] {
  display: none;
}
.btn {
  /* border: 2px solid #000; */
  position: absolute;
  bottom: 30px;
  width: 25%;
  text-align: center;
}
.btn label {
  cursor: pointer;
  width: 5px;
  height: 5px;
  background-color: #000;
  display: inline-block;
  border-radius: 50%;
  margin: 8px;
  position: relative;
}

.btn label:before {
  content: "";
  display: inline-block;
  border: 1px solid transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  transition: 0.3s;
}

.btn label:hover:before {
  border: 1px solid #aaa;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"]:before,
input[id="tab2"]:checked ~ .btn label[for="tab2"]:before,
input[id="tab3"]:checked ~ .btn label[for="tab3"]:before {
  border: 1px solid #aaa;
}

input[id="tab1"]:checked ~ .tabs {
  margin-left: 0;
}
input[id="tab2"]:checked ~ .tabs {
  margin-left: -100%;
}
input[id="tab3"]:checked ~ .tabs {
  margin-left: -200%;
}

/* Project info */
.project-info {
  padding: 25px;
  position: relative;
}
.project-info h3 {
  font-size: 20px;
  position: relative;
}
.project-info p {
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
}
.project-info ul {
  line-height: 2em;
  margin: 30px 0;
}
.project-info ul li::before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 10px;
}
.detail {
  /* border: 1px solid #000; */
  margin-bottom: 30px;
}
.detail div {
  display: inline-block;
  text-align: center;
  width: 32.3333%;
  font-size: 13px;
  color: #999;
}
.detail div span {
  font-size: 36px;
  font-weight: bold;
  display: block;
  color: #000;
  margin-bottom: 1px;
}
.view-project {
  display: inline-block;
  background-color: #3f3f3f;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  width: 200px;
  padding: 10px;
  transition: 0.5s;
  text-align: center;
}

.view-project:hover {
  background-color: #000;
}

.view-project:after {
  content: "\f178";
  font-family: fontawesome;
  margin-left: 5px;
  transition: 0.3s;
}

.view-project:hover:after {
  margin-left: 30px;
}

.project-info:before {
  content: attr(data-text);
  font-size: 130px;
  color: #eee;
  position: absolute;
  top: -10px;
  left: 10px;
}

/* ################### Section : Plan ################# */
.plan-inner {
  background-color: #1d1b24;
  height: 100%;
}

.plan-feature {
  /* border: 1px solid red; */
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan-feature > div {
  /* border: 1px solid yellow; */
  height: 300px;
  color: #bbb;
}

.plan-info {
}

.plan-info > div {
  /* border: 1px solid blue; */
  float: left;
}

.plan-heading {
  width: 70%;
  padding-right: 50px;
}

.plan-heading h2,
.history-info h2 {
  color: #fff;
  margin: 0;
}

.plan-heading p {
  font-size: 16px;
  line-height: 1.5em;
}

.plan-photo {
  width: 30%;
}

.plan-photo img {
  height: 250px;
}

.plan-heading hr.bar {
  background-color: dodgerblue;
  /* 밑에 있는 hr.bar의 margin이 auto로 되어 있기 때문에 크기값을 가질 수 있게 display inline block을 해준다. */
  display: inline-block;
}

.history-info {
}

.history-info hr.bar {
  background-color: dodgerblue;
  /* 밑에 있는 hr.bar의 margin이 auto로 되어 있기 때문에 크기값을 가질 수 있게 display inline block을 해준다. */
  display: inline-block;
}

.history-slider {
  /* border: 1px solid red; */
}

.history-slider div h4 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  /* line-height: 1.5em; */
}

.history-slider div h4 span {
  color: dodgerblue;
}

.history-slider div p {
  font-size: 14px;
  /* line-height: 1.5em; */
}

/* Slick.js Custom CSS */
.history-slider .slick-arrow {
  display: none !important;
}

.history-slider .slick-dots li {
  margin: 0;
}

.history-slider .slick-dots li button:before {
  color: #fff;
  font-size: 20px;
}

/* ################### Section : awards ################# */

.awards-inner {
  height: 100%;
  border: 1px solid #ddd;
}
.awards-inner > div {
  /* border: 1px solid #000; */
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.about-awards {
  background-color: #1a1f24;
  color: #fff;
}

.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.victory-jump {
  background-color: #fff;
}

.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.about-heading h2 {
  margin: 0;
}

hr.bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: crimson;
  margin: 30px auto;
}

.about-heading p {
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
}

.view-awards {
  color: #bbb;
  border: 1px solid #bbb;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
  margin-top: 20px;
}

.view-awards:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

/* ################### Section : Location ################# */
.location-inner {
  background: url(images/background-location.jpg) no-repeat center center;
  height: 100%;
}

.location-inner:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.85);
  /* display: inline-block; */
  height: 100%;
  width: 100%;
  position: absolute;
}

.feature {
  /* border: 1px solid red; */
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbb;
  padding-top: 80px;
}

.feature > div {
  /* border: 1px solid blue; */
  float: left;
}

.office {
  width: 60%;
  padding-right: 100px;
}

.service {
  width: 40%;
}

.office b {
  font-weight: normal;
}

.office h2 {
  color: #1db1f0;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}

.office p {
  font-size: 16px;
  line-height: 1.5em;
}

.office span {
  color: #fff;
}

.customer {
  margin-top: 60px;
}

.service-item {
  margin-bottom: 70px;
}

.service-item .fa {
  color: #1db1f0;
  font-size: 40px;
}

.service-item h3 {
  color: #fff;
  font-size: 22px;
  margin: 0;
}

/* ################### Section : contact ################# */

.contact-inner {
  background-color: #fff;
  height: 100%;
  border: 1px solid #ddd;
}

.contact-feature {
  /* border: 1px solid red; */
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-feature > div {
  /* border: 1px solid #000; */
  /* height: 400px; */
  float: left;
  width: 50%;
  padding: 20px;
}

.contact-form {
}

.contact-form h3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.send-box {
}

.send-box label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  margin-top: 20px;
}

.send-box label span {
  color: crimson;
  font-weight: normal;
}

.send-box input[type="email"],
.send-box input[type="text"],
.send-box textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  transition: 0.5s;
}

.send-box input[type="email"]:hover,
.send-box input[type="text"]:hover,
.send-box textarea:hover,
.send-box input[type="email"]:focus,
.send-box input[type="text"]:focus,
.send-box textarea:focus {
  border: 1px solid #0088cc;
  box-shadow: 0 0 5px #0088cc;
}

.send-box input[type="email"]:focus,
.send-box input[type="text"]:focus,
.send-box textarea:focus {
  background-color: #eee;
}

.send-box button {
  background-color: #0088cc;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}

.send-box button:hover {
  background-color: #000;
}

.contact-info {
}
.contact-info h4 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-top: 18px;
}

.contact-info ul li {
  line-height: 2em;
}

.contact-info ul li:nth-child(3) {
  color: #0088cc;
}
