/* Google Web Font : Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Default CSS */
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* Header */
header {
  /* 아래는 모바일을 위한 속성 */
  position: fixed;
  width: 100%;
}

.gnb-inner {
  /* border: 1px solid #000; */
  width: calc(100% - 40px);
  margin: auto;
  height: 60px;
  line-height: 60px;
}

.logo {
  float: left;
}

.gnb {
  float: right;
}

.menu {
  display: none;
}

.menu a {
}

.slogan {
  font-size: 16px;
  font-style: italic;
}

/* ################### Section : about ################# */

.about-inner {
  background: #0dace3 url(images/line-drawing.png) no-repeat right bottom;
  height: 100%;
}

.about-items {
  /* border: 1px solid red; */
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}

.item {
  /* 자식요소인 img태그에 float 들어갔을 때 부모요소인 .item 태그가 높이값을 잃거나
밑에 요소가 땡겨져 들어오기 때문에 이를 막아주기 위해 overflow:hidden 사용 */
  overflow: hidden;
  margin-bottom: 30px;
}

.item:hover h3 {
  color: #000;
  letter-spacing: 2px;
}

.item:hover img {
  filter: invert(0);
}

.item img {
  height: 100px;
  float: left;
  margin-right: 20px;
  filter: invert();
  transition: 0.5s;
}

.item h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
  letter-spacing: -1px;
}

.item span {
}

.item p {
  /* 위에서 float:left를 줬기 때문에 이미지 크기를 넘어가면 글씨가 이미지 밑으로 들어감.about-awards이를 막아주기 위해 overflow:hidden 사용 */
  overflow: hidden;
  font-size: 18px;
}

/* ################### Section : awards ################# */

.awards-inner {
  height: 100%;
  border: 1px solid #ddd;
}
.awards-inner > div {
  /* border: 1px solid #000; */
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.about-awards {
  background-color: #1a1f24;
  color: #fff;
}

.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.victory-jump {
  background-color: #fff;
}

.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.about-heading h2 {
  margin: 0;
}

hr.bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: crimson;
  margin: 30px auto;
}

.about-heading p {
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
}

.view-awards {
  color: #bbb;
  border: 1px solid #bbb;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
  margin-top: 20px;
}

.view-awards:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

/* ################### Section : Location ################# */
.location-inner {
  background: url(images/background-location.jpg) no-repeat center center;
  height: 100%;
}

.location-inner:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.85);
  /* display: inline-block; */
  height: 100%;
  width: 100%;
  position: absolute;
}

.feature {
  /* border: 1px solid red; */
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbb;
}

.feature > div {
  /* border: 1px solid blue; */
  float: left;
}

.office {
  width: 60%;
}

.service {
  width: 40%;
}
